 /* CSS reset*/
 body{
    margin: 0;
}
/*****************************/

body{ 
    border: 2px solid red;
    padding: 10px;
}
h1{
    /*SOMBRA DE TEXTO, VALORES IGUAIS AOS DO box-shadow */
    text-shadow: 2px 2px 4px slategray;
}
#box1{
    border: 2px solid blue;
    margin: 100px;
    padding: 50px;
   
    /*Sombra em um elemento de caixa 
    Valores:
    1)DESLOCAMENTO HORIZONTAL DA SOMBRA
    2)DESLOCAMENTO VERTICAL DA SOMBRA
    3)EMBAÇAMENTO DA SOMBRA (QUANTO MAIOR,MAIS EMBAÇADA)
    */
    box-shadow: 10px 5px 10px black;
}
#box2{ 
    box-sizing: border-box;
    /*Inclui o border e padding no tamanho do elemento*/
    border: 20px ridge  green; /* os quatro lados */
    height: 300px;
    width: 500px;
    padding: 0; /* Os quatro lados */
    margin: 20px; /* os quatro lados */
    border-radius: 20px; /* CANTO ARREDONDADO */
}
#box3{
    background-color: darkseagreen;
    border-top: 2px solid orange;           /*TOPO*/
    border-right: 4px dotted blue;          /*DIREITA*/
    border-bottom: 2px dashed darkmagenta;  /*ESQUERDA */
    border-left: 12px ridge limegreen;      /*DIREITA*/
     /*
    padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 50px;
    padding-left: 20px;
    */

    /*PARTE DO TOPO E SEGUE SENTIDO HORARIO */
    padding: 20px 12px 50px 20px;
    /*
    margin-top: 30px;
    margin-right: 16px;
    margin-bottom: 10px;
    margin-left: 25px; 
    */
    /*PARTE DO TOPO E SEGUE SENTIDO HORARIO */
    margin: 30px 16px 10px 25px;
}
#box4{
    height: 150px;
    width: 150px;
    border: 4px solid orangered ;
    border-radius: 50%;        
    display: flex; /* HABILITA O FLEXBOX */
    align-items: center; /* CENTRALIZA NA VERTICAL */
    justify-content: center; /* CENTRALIZA NA HORIZONTAL */
}
#imagem1 {
    border-radius: 50%;
}
#box5{
    background-color: oldlace;
    border:  2px solid sienna;
    /*Quando são dadas duas medidas, a primeira server para o top e bottom e a segunda para left e right */
    padding: 30px 50px;
    margin: 40px 20px;
    
    /*O outline (pouco utilizado) é um segundo contorno do elemento, externo à borda */

    outline: 6px solid aqua;

}